.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  list-style: none;
  font-size: 2rem;
  border: 2px solid navajowhite;
  &-item {
    display: block;
    & > a {
      padding: 1rem;
      text-decoration: none;
      vertical-align: bottom;
      &::after {
        content: " ";
        clear: both;
        display: block;
        height: .2rem;
        background: transparent;
      }
      &:hover::after {
        background: #000;
      }
    }
  }
}
