.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  list-style: none;
  font-size: 2rem;
  border: 2px solid navajowhite;
  &-item {
    display: block;
    & > a {
      display: block;
      padding: 1rem;
      &:hover {
        border-bottom: 1px solid salmon;
      }
    }
  }
}
